<section class="colophon">
    <section class="copyright">
      <p>
        This blog is a collection of thoughts and memories, intended for a
        limited audience. It's written from a parent's perspective, telling our
        daughter, Zoey, a story of her life.
      </p>
      <p>
        There will be mistakes, and parts probably won't make sense. In a way,
        its just like parenting itself.
      </p>
      <p>
        Read a bit more about <a href="{{@blog.url}}foreward">our motivations</a>.
      </p>
    </section>
    <section class="poweredby">Published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
</section>
<section class="bottom">
    <section class="attribution">
        Theme inspired by <a href="http://github.com/Reedyn/Saga">Saga</a>.
    </section>
</section>
